<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>imgUrl</key>
		<string>shirt</string>
		<key>name</key>
		<string>Check Print Shirt</string>
		<key>price</key>
		<integer>11</integer>
		<key>Description</key>
		<string>Wild One! Great 1st birthday gift idea for 1 year old baby boy. This is pure cotton.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>imgUrl</key>
		<string>shoe</string>
		<key>name</key>
		<string>GLORIA HIGH LOGO SNEAKER</string>
		<key>price</key>
		<integer>91</integer>
		<key>Description</key>
		<string>Lightweight, breathable, quick-dry mesh uppers for incredible comfort.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>imgUrl</key>
		<string>bag</string>
		<key>name</key>
		<string>CATE RIGID BAG</string>
		<key>price</key>
		<real>94.5</real>
		<key>Description</key>
		<string>Mosiso Laptop Shoulder Bag Compatible 15-15.6 Inch New </string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>imgUrl</key>
		<string>watch</string>
		<key>name</key>
		<string>GUESS CONNECT WATCH</string>
		<key>price</key>
		<real>438.9</real>
		<key>Description</key>
		<string>Round watch dial with roman hour indexes and Owl Pendant . Vintage style long leather band, so you can wrap it around your wrist at least a couple of times.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>imgUrl</key>
		<string>clothes</string>
		<key>name</key>
		<string>&apos;70s RETRO GLAM KEFIAH</string>
		<key>price</key>
		<integer>20</integer>
		<key>Description</key>
		<string>Great</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>imgUrl</key>
		<string>games</string>
		<key>name</key>
		<string>Gamewright Sushi Go! Tin</string>
		<key>price</key>
		<integer>200</integer>
		<key>Description</key>
		<string>Product</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>imgUrl</key>
		<string>Stanley</string>
		<key>name</key>
		<string>Stanley</string>
		<key>price</key>
		<integer>205</integer>
		<key>Description</key>
		<string>Coffee Mug, Funny</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>imgUrl</key>
		<string>candles</string>
		<key>name</key>
		<string>Candles</string>
		<key>price</key>
		<integer>105</integer>
		<key>Description</key>
		<string>Gifffted Worlds Best Husband Ever Coffee Mug, Funny Gift for Husband from Wife Dad Anniversary</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>imgUrl</key>
		<string>Lock</string>
		<key>name</key>
		<string>Lock</string>
		<key>price</key>
		<integer>50</integer>
		<key>Description</key>
		<string>Strong LOCk</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>imgUrl</key>
		<string>mug</string>
		<key>name</key>
		<string>Mug</string>
		<key>price</key>
		<integer>40</integer>
		<key>Description</key>
		<string>Enough of the stained chincy travel mugs! This green Urban Chic Travel Mug is a high quality fun travel mug. Made from high quality ceramic to keep your java hot</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>imgUrl</key>
		<string>marvel</string>
		<key>name</key>
		<string>Marvel</string>
		<key>price</key>
		<integer>60</integer>
		<key>Description</key>
		<string>Begin your morning with Captain America! Have fun and enjoy the golden-brown waffle shaped like Captain America&apos;s shield.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>imgUrl</key>
		<string>beer</string>
		<key>name</key>
		<string>Glass</string>
		<key>price</key>
		<integer>120</integer>
		<key>Description</key>
		<string>Mug Beer</string>
	</dict>
</array>
</plist>
